/* Iranian Sans Web font as 'Iranian Sans' */
@font-face {
  font-family: 'Iranian Sans';
  src: url('/assets/fonts/iransans.eot'); /* for IE */
  src: local('Iranian Sans'), url('/assets/fonts/iransans.woff') format('woff'), url('/assets/fonts/iransans.ttf')
  format('truetype'), url('/assets/fonts/iransans.svgz') format('svg'), url('/assets/fonts/iransans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iranian Sans';
  src: local('Iranian Sans'), url('/assets/fonts/iransansb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Titr';
  src: local('Titr'), url('/assets/fonts/BTitrBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
