/* Iranian Sans Web font as 'Iranian Sans' */
@font-face {
  font-family: 'Iranian Sans';
  //src: url( $assets-dir + '/fonts/iransans.eot'); /* for IE */
  src: url( $assets-dir + '/fonts/iransans.ttf') format('truetype');
  //src: local('Iranian Sans'), url('/assets/fonts/iransans.woff') format('woff'), url('/assets/fonts/iransans.svgz') format('svg'), url('/assets/fonts/iransans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iranian Sans';
  src: local('Iranian Sans'), url($assets-dir + '/fonts/iransansb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Titr';
  src: local('Titr'), url($assets-dir + '/fonts/BTitrBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import "font-awesome.min.css";