// Store asset directory to be used in imports
$assets-dir:     '{{ "assets" | absolute_url }}';

// Bootstrap variables override
//////////////////////////////////////////////////////////////////////

$headings-font-family: 'Titr';
$headings-font-weight: bold;
$font-family-sans-serif:  'Iranian Sans',"Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$dir: 'rtl';


// Theme settings
//////////////////////////////////////////////////////////////////////

$color-main: #009688;
$color-main-darker: #004a43;
$color-main-dark: #00635a;
$color-main-light: #007d71;
$color-white: #fff;
$color-white-trans: rgba(255, 255, 255, 0.8);
$color-white-transer: rgba(255, 255, 255, 0.6);
$color-white-mild: #f5f5f5;
$color-grey: #666;
$color-grey-light: #8a8a8a;
$color-grey-dark: #444;
$color-shadow: rgba(0, 0, 0, 0.14);
$color-shadow2: rgba(0, 0, 0, 0.4);
$color-shadow3: rgba(0, 0, 0, 0.3);
$color-alt: #a332d6;
